include mixins/head/mainHead.pug
include mixins/bodyElements/navBar.pug
include mixins/bodyElements/header.pug
include mixins/bodyElements/footer.pug

doctype html
html(lang="en")
  +mainHead( title )
      
  body
    +navBar(count)
    
    <!-- Page Content -->
    div#content.container
      +header

      block content
      
      +footer
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='vendor/socket.io-client/dist/socket.io.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/sweetalert/dist/sweetalert.min.js')
    script(src="/javascripts/app.js")
