mixin requestContainer(i,reqData)
  div.col-md-4.portfolio-item(data-id=reqData.id)
    h3 
      a(href="#") Request #
        span= i
    ul
      li received date:
        code= reqData.createdAt
      li Body:
        pre(style="height: 200px")= JSON.stringify( reqData.body , null, 4 )
    div.panel-heading.clearfix
      div.btn-group.pull-right
        div.btn-group(role="group")
          button.btn.btn-default.btn-sm.button-view-request
            span.glyphicon.glyphicon-eye-open
          button.btn.btn-default.btn-sm.button-delete-request
            span.glyphicon.glyphicon-remove
          button.btn.btn-default.btn-sm.button-select-request
            span.glyphicon.glyphicon-check
      h3.panel-title.pull-right(style="padding-top: 7.5px;") Options:
    hr
